<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="client_id" value="client-dotnet"/>
    <add key="client_secret" value="Password1"/>
    <add key="redirect_uri" value="http://localhost:5443/callback"/>
    <add key="scope" value="openid read"/>
    <add key="authorization_endpoint" value=""/>
    <add key="token_endpoint" value=""/>
    <add key="logout_endpoint" value=""/>
    <add key="revocation_endpoint" value=""/>
    <add key="jwks_uri" value=""/>
    <add key="issuer" value="https://login.curitydemo.com/oauth/v2/oauth-anonymous"/>
    <add key="api_endpoint" value="https://localhost:3000"/>
    <add key="base_url" value="http://localhost:5443"/>
  </appSettings>
  <system.web>
    <compilation debug="true">
      <assemblies/>
    </compilation>
  </system.web>
</configuration>