<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <curity>
    <client_id>client-one</client_id>
	<client_secret>0ne!Secret</client_secret>
	<callback_url>callback</callback_url>
	<scope>read</scope>
    <response_type>code</response_type>
	<curity_url>https://localhost:8443</curity_url>
	<authorize_endpoint>/dev/oauth/authorize</authorize_endpoint>
    <token_endpoint>/dev/oauth/token</token_endpoint>
	<grant_type>authorization_code</grant_type>
  </curity>
</configuration>