<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="client_id" value="client-1" />
		<add key="client_secret" value="Password1" />
		<add key="redirect_uri" value="https://localhost:5443/callback" />
		<add key="scope" value="openid read" />
		<add key="authorization_endpoint" value="" />
		<add key="token_endpoint" value="" />
		<add key="logout_endpoint" value="https://nordicapis.curity.io/authn/authenticate/logout?redirect_uri=https://localhost:5443" />
		<add key="revocation_endpoint" value="" />
		<add key="jwks_uri" value="" />
		<add key="issuer" value="https://nordicapis.curity.io/oauth/v2/metadata" />
		<add key="api_endpoint" value="https://nordicapis-api.curity.io/hello_world" />
		<add key="base_url" value="https://localhost:5443" />
	</appSettings>
</configuration>